@media (max-width: 1200px) {
  header {
    width: 100%;
    height: 80px;
    padding-right: 40px;
    padding-left: 40px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0px #0000000d;
  }
  .header-section {
    width: 90%;
    height: 50px;
    padding: 16px 20.02px 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header-h1 {
    margin-right: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: 0px;
    color: #4a00e0;
  }
  .header-nav {
    margin: auto;
    width: 287px;
    height: 22px;
    display: flex;
    gap: 24px;
  }
  .header-nav a {
    width: 49px;
    height: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
  .nav-a {
    color: #4a00e0;
    padding-bottom: 2px;
    border-bottom: 2px solid #4a00e0;
  }

  .header-section button {
    color: #ffffff;
    width: 127px;
    height: 30px;
    padding: 8px 16px;
    border: 1px solid #4a00e0;
    background-color: #4a00e0;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    transition: 0.3s;
  }
  header button:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  main {
    width: 100%;
    height: 800px;
    padding: 48px 20px;
    background-color: #eeecfe;
  }
  main section {
    background: #ffffff;
    width: 95%;
    min-height: 400px;
    gap: 35px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 48px;
    display: flex;
    margin: 20px auto;
  }
  main img {
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    object-fit: cover;
  }
  .hero-section {
    min-width: 1000px;
  }
  .article1 {
    min-width: 200px;
  }
  .article1 h1 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
    color: #1a1a27;
  }
  .article1 h3 {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0px;
    color: #4a00e0;
  }
  .article1 p {
    width: auto;
    height: auto;
    min-width: 300px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #484456;
  }
  .article1 button {
    padding: 8px 24px;
    border: 1px solid #4a00e0;
    border-radius: 8px;
    background: #4a00e0;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
  }
  .article1 button:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  .section1 {
    width: 95%;
    height: 330px;
    display: flex;
    gap: 20px;
    background: #eeecfe;
  }
  .article2 {
    min-width: 350px;
    min-height: 250px;
    padding: 24px 140px 24px 30px;
    border: 1px solid #ffffff;
    flex: 1;
    gap: 16px;
    border-radius: 12px;
    background-color: #ffffff;
  }
  .article2 h3 {
    width: 300px;
    padding-bottom: 8px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0px;
    color: #1a1a27;
    border-bottom: 1px solid #e3e0f2;
  }
  .article2 div {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  }
  .article2 p {
    width: 100px;
    height: 16px;
    padding: 8px 28px;
    background: #eeecfe;
    border: 1px solid #c9c3d9;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-align: center;
  }
  .article3 {
    flex: 1;
    height: 254px;
    border-radius: 12px;
    padding: 24px;
    background-color: #ffffff;
  }
  .article3 h3 {
    width: 80%;
    height: 26px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e3e0f2;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0px;
    color: #1a1a27;
  }
  .counter {
    width: auto;
    min-width: 400px;
    height: 100px;

    border-radius: 8px;
    padding: 24px;
    background: #eeecfe;
    text-align: center;
  }
  .counter button {
    border-radius: 8px;
    background: #4a00e0;
    border: 1px solid #4a00e0;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
  }
  .counter button:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  footer {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .contact-header {
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0px #0000000d;
  }
  .csection1 {
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .csection1 h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
    color: #4a00e0;
  }
  .cnav {
    min-width: 200px;
    display: flex;
    gap: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
  .contact-a {
    color: #4a00e0;
    padding-bottom: 2px;
    border-bottom: 2px solid #4a00e0;
  }
  .cnav a {
    text-decoration: none;
  }
  .csection1 > a {
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 16px;
    background: #4a00e0;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
  .contact-main {
    height: 770px;
    padding: 20px;
    background: #f4f3fb;
  }
  .msection1 {
    height: 50px;
    padding-bottom: 30px;
  }
  .contact-main h1 {
    padding-bottom: 2px;
    color: #4a00e0;
    font-weight: 700;
    font-size: 26px;
    line-height: 31.2px;
    letter-spacing: -0.52px;
    text-align: center;
  }

  .msection2 {
    height: 480px;
    display: flex;
    background-color: #f4f3fb;
    gap: 20px;
  }
  .marticle1 {
    min-width: 70%;
    background-color: #f4f3fb;
  }
  .mform {
    height: 416px;
    padding: 24px 24px 40px 24px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  #ism,
  #email {
    padding: 13px 16px;
    border: 1px solid #c9c3d9;
    border-radius: 8px;
    border-width: 1px;
    background: #f5f2ff;
  }
  #xabar {
    padding: 12px 16px 150px 16px;
    border: 1px solid #c9c3d9;
    border-radius: 8px;
    border-width: 1px;
    background: #f5f2ff;
  }
  .mform button {
    width: 112px;
    height: 34px;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 24px;
    margin-top: 40px;
    background: #4a00e0;
    border: 1px solid #4a00e0;
    box-shadow: 0px 1px 2px 0px #0000000d;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
  .marticle2 {
    min-width: 25%;
    height: 480px;
    background: #ffffff;
    border-radius: 12px;
  }
  .ijtimoiy {
    padding: 70px 35px;
  }
  .ijtimoiy h3 {
    padding-bottom: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
  }
  .tarmoqlar {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .tarmoqlar a {
    border-radius: 8px;
    gap: 11.99px;
    padding: 12px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #484456;
  }
  .insta::before {
    content: "📷";
    margin-right: 5px;
  }
  .telegram::before {
    content: "📷";
    margin-right: 5px;
  }
  .tt::before {
    content: "📷";
    margin-right: 5px;
  }
  .msection3 {
    padding-top: 30px;
  }
  .msection3 p {
    padding: 24px;
    border: 1px solid #e9e6f8;
    border-radius: 12px;
    border-width: 1px;
    background: #f5f2ff;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #6336fa;
  }
  .mfooter {
    height: 120px;
    top: 834px;
    padding: 40px;
    border-top-width: 1px;
    background: #e2dff8;
    border-top: 1px solid #e9e6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mfooter p {
    color: #4a00e0;
  }
}
